@tailwind base;
@tailwind components;
@tailwind utilities;

.backgound-color{
    background-color: rgba(75, 97, 120, 1);
}

.box-shadow{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.cart-color{
    background-color: rgba(134, 153, 171, 1);
}

.form-shadow{
    box-shadow: rgba(50, 50, 93, 0.30) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.center {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
  }


.red{
    color: red;
}

.errorStyle{
    border-color: red;
}